# Auto detect text files and perform LF normalization
* text=auto

# Declare files that will always have CRLF line endings on checkout.
.crlfignore-sync text eol=crlf
.crlfignore text eol=crlf

# Declare files that will always have LF line endings on checkout.
.lfignore-sync text eol=lf
.lfignore text eol=lf