# Auto detect text files and perform LF normalization
* text=auto

# Declare files that will always have CRLF line endings on checkout.
.testcrlf-sync text eol=crlf
.testcrlf text eol=crlf

# Declare files that will always have LF line endings on checkout.
.testlf-sync text eol=lf
.testlf text eol=lf